<a href="{{ button_link }}" class="animatedButton animatedButtonBgBlack animatedButtonBgYellow">
  {{ button_text }}
  <img class="leftWhiteArrow" src="{{ 'leftWhiteArrow.png' | asset_url }}" width="object-fit" height="auto">
  <img class="leftBlackArrow" src="{{ 'leftBlackArrow.png' | asset_url }}" width="object-fit" height="auto">
</a>
