<a href="{{ button_link }}" class="animated-button">
  {{ button_text }}
  <img class="leftBlackArrow" src="{{ 'leftBlackArrow.png' | asset_url }}">
  <img class="leftBlackArrow" src="{{ 'leftBlackArrow.png' | asset_url }}">
</a>
