<a href="{{ button_link }}" class="animated-button">
  {{ button_text }}
  <img class="leftBlackArrow" src="{{ 'leftBlackArrow.png' | asset_url }}" alt="Black Arrow">
  <img class="leftWhiteArrow" src="{{ 'leftWhiteArrow.png' | asset_url }}" alt="White Arrow">
</a>
