<<<<<<< HEAD
<div>
  <div color="colorWrapper">
    <span class="colorLabel">Color</span>
    <div class="colorContainer">
      {% assign available_colors = '' %}
      {% for variant in product.variants %}
        {% unless available_colors contains variant.option2 %}
          {% assign available_colors = available_colors | append: variant.option2 | append: ',' %}
        {% endunless %}
      {% endfor %}
      {% assign color_list = available_colors | split: ',' %}
      {% for color in color_list %}
        {% if color != '' %}
          <div class="colorBox {% if forloop.last %}colorBoxRight{% else %}colorBoxLeft{% endif %}">
            <div
              class="{% if forloop.last %}onlyForBorderRight{% else %}onlyForBorderLeft{% endif %}"
              style="background-color: {{color}}"
            ></div>
            <span>{{ color }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
=======
<div>
  <div color="colorWrapper">
    <span class="colorLabel">Color</span>
    <div class="colorContainer">
      {% assign available_colors = '' %}
      {% for variant in product.variants %}
        {% unless available_colors contains variant.option2 %}
          {% assign available_colors = available_colors | append: variant.option2 | append: ',' %}
        {% endunless %}
      {% endfor %}
      {% assign color_list = available_colors | split: ',' %}
      {% for color in color_list %}
        {% if color != '' %}
          <div class="colorBox {% if forloop.last %}colorBoxRight{% else %}colorBoxLeft{% endif %}">
            <div
              class="{% if forloop.last %}onlyForBorderRight{% else %}onlyForBorderLeft{% endif %}"
              style="background-color: {{color}}"
            ></div>
            <span>{{ color }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
>>>>>>> 8865f382cae87afc719bc29a5d898703977ecc46
