<div class="productGrid">
  {% assign collection = collections.frontPage %}
  {% if collection.products.size > 0 %}
    {% for product in collection.products %}
      {% render 'productItem', product: product, index: forloop.index %}
    {% endfor %}
  {% else %}
    <p>No products, sorry!</p>
  {% endif %}
</div>
