<div class="headerContainer">
  <img src="{{ 'logo.png' | asset_url }}" alt="Image description" width="" height="">
  <span>Find the ideal gift for your loved ones</span>
  <div>
    {% render 'button', button_text: "Choose gift", button_link: "www.google.com" %}
</div>
</div>

