<div>
    {% comment %} {{ 'image.jpg' | asset_img_url }} {% endcomment %}
  {% comment %} <img src={{ 'image.jpg' | asset_img_url }} width="50" height="50"> {% endcomment %}
  <img src="{{ 'your-image.jpg' | asset_url }}" alt="Image description">
</div>
