<div class="headerContainer">
    <div class="header">
        <img src="{{ 'logo.png' | asset_url }}" alt="Image description" width="" height="">
        <span class="headerText">Find the ideal gift for your loved ones</span>
        {% render 'button', button_text: 'Choose gift', button_link: 'www.google.com' %}
    </div>
</div>
