<section>
  <div class="headerContainer">
    <div class="header">
      <img src="{{ 'logo.png' | asset_url }}" alt="Logo" width="" height="">
      <span class="headerText">Find the ideal gift for your loved ones.</span>
      {% render 'button', button_text: 'Choose gift', button_link: 'www.google.com' %}
    </div>
  </div>
  <div class="bannerImage">
    <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
  </div>
  <div>
    <div></div>
    <div></div>
  </div>
</section>
