<section class="bannerSection">
  <div class="headerContainer">
    <div class="header">
      <span class="logoText">Tisso Vison</span>
      <span class="headerText">Find the ideal gift for your loved ones.</span>
      {% render 'button', button_text: 'Choose gift', button_link: 'www.google.com' %}
    </div>
  </div>

  <div class="bannerImage">
    <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
  </div>

  <div class="bannerTextContainer">
    <div class="bannerTextArea">
      <h1>The Gift Guide</h1>
      <span>
        Discover Joy: Your Ultimate Holidat Gift Destination. Explore our curated selection and find the perfect gifts
        to delight your loved ones this holiday season.
      </span>
      {% render 'button', button_text: 'Shop Now', button_link: 'www.google.com' %}
    </div>
    <div class="bannerTextContainerImage">
      <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
    </div>
  </div>

  <div>
    <span>
        Sustainable, Ethically made clothes in sizes XXS to 6XL
    </span>
  </div>
</section>

{% schema %}
{
  "name": "Banner buttons",
  "settings": [
    {
      "type": "text",
      "id": "headerLogoText",
      "label": "Header Logo Text",
      "default": "Tisso Vison"
    },
    {
      "type": "text",
      "id": "headerText",
      "label": "Header Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "headerButtonText",
      "label": "Header Button Text",
      "default": "Choose Gift"
    },
    {
      "type": "text",
      "id": "bannerHeadingText",
      "label": "Banner Heading Text",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "bannerSubtitleText",
      "label": "Banner Subtitle Text",
      "default": "Discover Joy: Your Ultimate Holidat Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "bannerButtonText",
      "label": "Banner Button Text",
      "default": "Shop Now"
    }
  ],
  "presets": [
    {
      "name": "Banner buttons",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
