<<<<<<< HEAD
<section class="homeProductCollection">
  <div class="container">
    {% render 'productGrid' %}
  </div>
</section>

=======
<section class="homeProductCollection">
  <div class="container">
    {% render 'productGrid' %}
  </div>
</section>

>>>>>>> 8865f382cae87afc719bc29a5d898703977ecc46
<script src="{{ 'productScript.js' | asset_url }}" defer></script>