<section class="homeProductCollection">
    <div class="container">
        <div class="productGrid">
            {% assign collection = collection.frontPage %}
            {}
        </div>
    </div>
</section>