.animated-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-out;
    width: 220px;
    height: 50px;
}

.animated-button::before{
    content: "";
    position: absolute;
    
}