.bannerImage {
    position: relative;
}

.imageOnMobile {
    position: absolute;
    width: 100%;
    height: auto;
    /* Ensure the image scales correctly */
}

.bannerButtonOnMobile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    /* Add padding to give space around the button */
    left: 0;
    bottom: 20px;
    /* Adjust this to control the distance from the bottom */
}