.bannerImage {
    position: relative;
}

.imageOnMobile {
    position: absolute;
    width: 100%;
}

.bannerButtonOnMobile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}