* {
    padding: 0;
    margin: 0;
}
/* Header */
.headerContainer{
    z-index: 500;
    background-color: rgba(245, 245, 245, 1);
    padding: 0.5rem 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoText{
    font-family: 'Jost';
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

/* Text at header */
.headerText{
    font-family: 'Jost';
}

/* Animation button */
.animated-button-bg-black{
    background-color: black;
    color: white;
}

.animated-button-bg-black::before{
    background-color: yellow;
}

.animated-button-bg-black:hover {
    color: black;
}

.animated-button:hover .leftBlackArrow {
    opacity: 1;
}

.animated-button:hover .leftWhiteArrow {
    opacity: 0;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Jost';
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-out;
    width: 150px;
}

.animated-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.animated-button:hover::before {
    transform: translateX(0);
}

.leftBlackArrow,
.leftWhiteArrow{
    position: absolute;
    top: 35%;
    transition: opacity 0.3s ease-out;
}

.leftBlackArrow{
    left: 135px;
    opacity: 0;
}

.leftWhiteArrow{
    left: 135px;
    opacity: 1;
}



.bannerImage img{
    width: 100%;
}

.bannerTextContainer{
    display: flex;
    gap: 1rem;
    padding-left: 5rem;
    height: 410px;
    overflow: hidden;
}

.bannerTextArea{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bannerTextArea{
    flex: 2.5;
}

.bannerTextContainerImage{
    flex: 7.5;
}

.headingTitle{
    font-family: 'Jost';
    font-size: 55px;
}

.subTitle{
    font-family: 'Jost';
    font-size: 20px;
}

.bannerTextContainerImage > img {
    width: 100%;
}


.bottomBannerText{
    background-color: rgba(245, 245, 245, 1);
    color: black;
    font-family: "Jost";
    font-size: 20px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

/* Responsive header css */
.headerSmallHide{
    display: none;
    flex-direction: column;
    justify-content: center;
}
.headerSmallHide > div{
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.headerHideAtSmall{
    display: none;
}

.headerSmallShow{
    display: flex;
}

.hamburgerMenu, .crossMenu{
    display: none;
    cursor: pointer;
}

.hamburgerHide{
    display: none;
    background-color: gray;
}

.crossMenuShow{
    display: flex;
}

.showAtMobile{
    display: none;
}

.bannerImage{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.imageonDesktop{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.mobileBannerbutton{
    display: none;
}

@media only screen and (max-width: 683px) {
    .headerContainer{
        background: rgba(247, 247, 247, 1);
    }
    .hamburgerMenu{
        display: flex;
        flex: 0.5;
    }
    .headerText{
        display: none;
    }
    .showHeaderText {
        display: flex;
    }
    .headerBig a{
        display: none;
    }
    .logoText{
        flex: 9.5;
        text-align: center;
    }
    .hamburgerHideAtAction {
        display: none;
    }
    .mobileBannerbutton{
        display: block;
    }
}

@media only screen and (max-width: 940px) {
    .bannerTextContainer{
        display: none;
    }
    .showAtMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 0;
    }
    .bannerOnMobile {
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }
    .imageOnMobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
    .imageOnMobile{
        position: absolute;
    }
    .bannerButtonOnMobile{
        position: relative;
        display: flex;
        height: 90%;
        justify-content: center;
        align-items: end;
    }
    .bannerContainer{
        position: relative;
    }
    .mobileBannerbutton{
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        height: 90%;
    }
    .mobileBannerbutton > a{
        display: flex;
        align-self: end;
    }
}

@media only screen and (max-width: 666px) {
    .imageOnMobile{
        width: 100%;
    }
    .bottomBannerTextOnMobile{
        font-size: 14px;
    }
   
}

