/* Animation button */
.animatedButton {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Jost';
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-out;
    width: 150px;
}

.animatedButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.animatedButton:hover::before {
    transform: translateX(0);
}

.leftBlackArrow,
.leftWhiteArrow {
    position: absolute;
    left: 135px;
    top: 35%;
    transition: opacity 0.3s ease-out;
}

.animatedButtonBgBlack .leftBlackArrow {
    opacity: 0;
}

.animatedButtonBgBlack .leftWhiteArrow {
    opacity: 1;
}

.animatedButtonBgYellow .leftBlackArrow {
    opacity: 1;
}

.animatedButtonBgYellow .leftWhiteArrow {
    opacity: 0;
}

.animatedButtonBgBlack {
    background-color: black;
    color: white;
}

.animatedButtonBgYellow{
    background-color: yellow;
    color: black;
}

.animatedButtonBgBlack::before {
    background-color: yellow;
}

.animatedButtonBgYellow::before{
    background-color: black;
}

.animatedButtonBgBlack:hover {
    color: black;
}

.animatedButtonBgYellow:hover{
    color: white;
}

.animatedButtonBgBlack:hover .leftBlackArrow {
    opacity: 1;
}

.animatedButtonBgBlack:hover .leftWhiteArrow {
    opacity: 0;
}

.animatedButtonBgYellow:hover .leftBlackArrow {
    opacity: 0;
}

.animatedButtonBgYellow:hover .leftWhiteArrow {
    opacity: 1;
}