dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    padding: 1rem;
    padding-top: 0.1rem;
    width: 350px;
}

dialog:active,dialog:focus{
    border: none;
}

.productImg{
    width: 400px;
    /* height: 250px; */
    text-align: center;
    overflow: hidden;
}

.productImg img{
    position: relative;
    left: -35%;
}

.closeModal{
    display: flex;
    justify-content: end;
}

.productInfoContainer{
    display: flex;
    gap: 0.5rem;
}

.productDetails{
    padding: 0.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 16px;
}

.productPrice{

}

.productDescription{

}