dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    padding: 1rem;
    padding-top: 0.1rem;
    width: 350px;
}

dialog:active,dialog:focus{
    border: none;
}

.productImg{
    width: 400px;
    /* height: 250px; */
    text-align: center;
    overflow: hidden;
}

.productImg img{
    position: relative;
    left: -35%;
}

.closeModal{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    cursor: pointer;
}

.productInfoContainer{
    display: flex;
    gap: 0.5rem;
}

.productDetails{
    padding: 0.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 16px;
}

.productPrice{
    font-family: 'Lustria';
    font-weight: 400;
    font-size: 16px;
}

.productDescription{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 12px;
}

.colorWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;
}

.colorWrapper > span{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
}
.colorContainer{
    border: 1px solid black;
    display: flex;
}

.colorBoxLeft,
.colorBoxRight{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
}

.onlyForBorderLeft,
.onlyForBorderRight{
    border-right: 1px solid black;
    width: 5px;
    height: 100%;
}

.onlyForBorderRight{
    border-left: 1px solid black;
}


.colorBox{
    transition: background-color 0.3s, color 0.3s;
}

.colorBox.active{
    background-color: black;
    color: white;
}

.colorBox:not(.active){
    background-color: transparent;
    color: black;
}