dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    padding: 1rem;
    padding-top: 0.1rem;
    /* display: none; */
    /* z-index: 1000; */
    width: 500px;
}

dialog:active,dialog:focus{
    border: none;
}

.closeModal{
    display: flex;
    justify-content: end;
}

.productInfoContainer{
    display: flex;
    gap: 0.5rem;
}

.productDetails{
    display: flex;
    flex-direction: column;
}