.homeProductCollection{
   display: grid; 
   place-items: center;
}

.productGrid{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
}

.productItem{
    position: relative;
    overflow: hidden;
}