.homeProductCollection{
   display: grid; 
   place-items: center;
}

.productGrid{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
}

.productItem{
    position: relative;
    overflow: hidden;
}

.productImageWrapper{
    position: relative;
}

.productImageWrapper img{
    width: 100%;
    height: auto;
    display: block;
}

.plusOverlay{
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}