.container{
    padding: 4rem 0;
}

.homeProductCollection{
   display: grid; 
   place-items: center;
}

.productGrid{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.productItem {
    overflow: hidden;
}

.productImageWrapper {
    position: relative;
    width: fit-content;
}

.plusOverlay {
    position: absolute;
    /* top: 100px; */
    background-color: rgba(248, 248, 248, 0.9);;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plusIcon{
    font-size: 16px;
    font-weight: bold;
}

.addToCart{
    display: flex;
    justify-content: ;
}

.addToCartBtn{
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
}

@media (max-width: 1410px) {
    .productGrid {
        grid-template-columns: 1fr 1fr;
    }


}

 @media (min-width: 540px) and (max-width: 900px) {
    .mobileImage {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

@media (max-width: 346px) {
.mobileImage {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}

@media (max-width: 658px) {
    .productGrid {
        width: 94vw;
    }
}

@media (max-width: 540px) {
    .productGrid {
        grid-template-columns: 1fr;
    }
}