.homeProductCollection{
   display: grid; 
   place-items: center;
}

.productGrid{
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 1rem;
}